<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UGC_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UGC_App.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UGC_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UGC_App.Properties.Settings>
            <setting name="FormSize" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CMDR" serializeAs="String">
                <value />
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="Send_Url" serializeAs="String">
                <value>https://api.ugc-tools.de/api/v1/QLS</value>
            </setting>
            <setting name="State_Url" serializeAs="String">
                <value>https://api.ugc-tools.de/api/v1/State</value>
            </setting>
            <setting name="CMD_Url" serializeAs="String">
                <value>https://api.ugc-tools.de/api/v1/PluginControll</value>
            </setting>
            <setting name="Tick_Url" serializeAs="String">
                <value>https://api.ugc-tools.de/api/v1/Tick</value>
            </setting>
            <setting name="Update_Url" serializeAs="String">
                <value>https://update.ugc-tools.de</value>
            </setting>
            <setting name="BGS_Only" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show_All" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Send_Name" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auto_Update" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlowState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CloseMini" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Design_Sel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Color_Main_Background" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Color_Main_Info" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Color_Main_Tick" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Color_Main_Systeme" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Color_Overlay_Background" serializeAs="String">
                <value>DarkGoldenrod</value>
            </setting>
            <setting name="Color_Overlay_Tick_Light" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Color_Overlay_Systeme_Light" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Color_Overlay_Tick_Dark" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Color_Overlay_Systeme_Dark" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Color_Overlay_Override" serializeAs="String">
                <value>False</value>
            </setting>
        </UGC_App.Properties.Settings>
        <UGC_App.Settings>
            <setting name="FormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </UGC_App.Settings>
    </userSettings>
    <applicationSettings>
        <UGC_App.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.0.3</value>
            </setting>
            <setting name="Version_Meta" serializeAs="String">
                <value>-alpha+140423</value>
            </setting>
            <setting name="Color_Default_Chroma" serializeAs="String">
                <value>DarkGoldenrod</value>
            </setting>
            <setting name="Color_Default_Label_Dark" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Color_Default_Label_Light" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Color_Default_Background_Light" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Color_Default_Background_Dark" serializeAs="String">
                <value>60, 60, 60</value>
            </setting>
        </UGC_App.Properties.Settings>
    </applicationSettings>
</configuration>